<h1>Find your match!</h1>

<div class="wrapper">

  <%= form_tag(search_profiles_path, method: "get") do %>
    <h2>Search by gender:</h2>

    <%= radio_button_tag(:gender, "male") %>
    <%= label_tag(:gender_male, "Male", class: 'm-r-2') %>
    <%= radio_button_tag(:gender, "female") %>
    <%= label_tag(:gender_female, "Female", class: 'm-r-2') %>
    <%= radio_button_tag(:gender, "other") %>
    <%= label_tag(:gender_other, "Other", class: 'm-r-2') %>

    <h2>Select proximity to you</h2>

    <%= radio_button_tag(:distance, "5") %>
    <%= label_tag(:distance_5, "Within 5km", class: 'm-r-2') %>
    <%= radio_button_tag(:distance, "15") %>
    <%= label_tag(:distance_15, "Within 15km", class: 'm-r-2') %>
    <%= radio_button_tag(:distance, "150") %>
    <%= label_tag(:distance_150, "Within 150km", class: 'm-r-2') %>

    <h2>Filter by age range</h2>

    <%= number_field(:min_age, :age, in: 18..120, step: 1) %>
    <%= number_field(:max_age, :age, in: 18..120, step: 1) %>

    <%= submit_tag("Search", {class: 'btn brr-5 m-1'}) %>



  <% end %>
</div>
