    <%= form_tag(search_profiles_path, method: "get", class: "center") do %>
      <p class="m-t-1">Gender</p>

      <%= radio_button_tag(:gender, "male") %>
      <%= label_tag(:gender_male, "Male", class: 'm-r-2') %>
      <%= radio_button_tag(:gender, "female") %>
      <%= label_tag(:gender_female, "Female", class: 'm-r-2') %>
      <%= radio_button_tag(:gender, "other") %>
      <%= label_tag(:gender_other, "Other", class: 'm-r-2') %>

      <p class="m-t-1">Within</p>

      <%= radio_button_tag(:distance, "5") %>
      <%= label_tag(:distance_5, "5km", class: 'm-r-2') %>
      <%= radio_button_tag(:distance, "15") %>
      <%= label_tag(:distance_15, "15km", class: 'm-r-2') %>
      <%= radio_button_tag(:distance, "150") %>
      <%= label_tag(:distance_150, "150km", class: 'm-r-2') %>

      <div>
        <%= submit_tag("Search", {id: 'search', class: 'btn'}) %>
      </div>  
    <% end %>

