
<h1> Edit Profile</h1>

<%= form_for @profile do |f| %>

  <%= f.label :biography %>
  <%= f.number_field :biography %>

  <%= f.label :weight %>
  <%= f.number_field :weight %>

  <%= f.label :drinks, "Do you drink?" %>
  <%= f.check_box :drinks %>

  <%= f.label :desires %>
  <%= f.text_area :desires %>
<<<<<<< HEAD

  <%= f.check_box :smoker %>
  <%= f.label :smoker, "Smoker" %>

  <hr>
    <select id="Industry" name="profile[industry]">
    <option value="" style="display:none">Choose Industry</option>
    <option value="aerospace">Aerospace</option>
    <option value="agriculture">Agriculture</option>
    <option value="civil_service">Civil Service</option>
    <option value="construction">Construction</option>
    <option value="defense">Defense</option>
    <option value="education">Education</option>
    <option value="energy">Energy</option>
    <option value="health">Health</option>
    <option value="industrial">Industrial</option>
    <option value="technology">Technology</option>
  </select>

  <%= f.label :occupation %>
  <%= f.text_field :occupation %>

  <hr>
  <p>Unit: <%= select_tag("Weight-Unit"	, options_for_select(['Metric', "Imperial"], "Metric") ) %> </p>
  Stones: <br>
  <input type= "number" name="stones"><br>
  Pounds: <br>
  <input type= "number" name="pounds"><br>
  <br>

<br>
=======
>>>>>>> d42e9b4... Added selective display of metric and imperial data entry fields and validation of weight fields. Modified Profile controller to only send weight parameters to profile class calculate weight method
<hr>
  <p>Unit: <%= select_tag("weight_unit" , options_for_select(['Metric', "Imperial"], "Metric") ) %> </p>

<div id="imperial">
  <dl>
  <dt> Stones: </dt>
  <input type= "number" name="stones" min="0" max="30">
  <dt>Pounds: </dt>
  <input type= "number" name="pounds" min="0" max="13">
  </dl>
</div>
  
<div id="metric">
  <dl>
  <dt>Kilograms:</dt>
  <input type="number" name="weight" min="0" max="200">
  </dl>
</div>

<%= f.submit %>

<% end %>