<h1> Edit Profile</h1>

<%= form_for @profile do |f| %>

  <%= f.label :biography %>
  <%= f.text_field :biography %>

  <%= f.label :drinks, "Do you drink?" %>
  <%= f.check_box :drinks %>

  <%= f.submit %>

<% end %>
