<div class = "row">
	<div class="col-sm-6">

	  <h1 id="search-results" class="f-2 center">Your Matches</h1>

	  <ol class="list-0 m-2">
	    <% @results.each do |result| %>
	      <li>
					<%= image_tag(result.images.first, alt: "Profile Image", class: "img-thumbnail") %>
	    		<p><a href="/profiles/<%=result.id%>"><%= result.name %>  <%= result.postcode[0..3]%></a></p>
	      </li>
	    <% end %>
	  </ol>
	</div>  

  <div class="search-filter col-sm-4 offset-1 p-2 b-1-w">
    <h2 class="center">Filter your matches</h2>
    <%= render 'profiles/search' %>