
<h1><%= @profile.name.capitalize %>'s Profile</h1>

<ul id="profile-display">
  <% for attribute in @profile.display_attribute_keys %>
    <li>
      <%= attribute.humanize %>:

      <% if attribute == "religious_beliefs" %>
        <%= display_attribute(religious_beliefs, @profile.religious_beliefs) %>
      <% elsif attribute == "height" %>
        <%= @profile.attributes[attribute].to_s %> cm <%= @profile.imperial_height %>
      <% else %>
        <%= @profile.attributes[attribute].to_s %>
      <% end %>
    </li>
  <% end %>

<h1><%= @profile.name %>'s Profile</h1>


<%= render 'profiles/search' %>
